<configuration>

    <appender name="ALL-SCRAPED" class="ch.qos.logback.core.FileAppender">
        <file>out/grab_oclc_all.json</file>
        <param name="immediateFlush" value="true"/>
        <append>true</append>
        <encoder>
            <pattern>%msg</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>all_scraped.%i.log.zip</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>3</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>7MB</maxFileSize>
        </triggeringPolicy>
    </appender>


    <appender name="SIFT" class="ch.qos.logback.classic.sift.SiftingAppender">
        <!-- in the absence of the class attribute, it is assumed that the
             desired discriminator type is
             ch.qos.logback.classic.sift.MDCBasedDiscriminator -->
        <discriminator>
            <key>savePath</key>
            <defaultValue>default</defaultValue>
        </discriminator>
        <sift>
            <appender name="FILE-${userid}" class="ch.qos.logback.core.FileAppender">
                <file>out/${savePath}</file>
                <!--<append>true</append>-->
                <append>false</append>
                <param name="immediateFlush" value="true"/>
                <!--<param name="immediateFlush" value="false"/>-->
                <layout class="ch.qos.logback.classic.PatternLayout">
                    <pattern>%msg</pattern>
                </layout>
            </appender>
        </sift>
    </appender>
    <!---->
    <!---->
    <appender name="LOGFILE" class="ch.qos.logback.core.FileAppender">
        <append>true</append>
        <param name="immediateFlush" value="true"/>
        <encoder>
            <pattern>%level %logger{0} %date - %msg%n</pattern>
        </encoder>
        <file>out/grab-oclc.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>grab-oclc.%i.log.zip</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>3</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>5MB</maxFileSize>
        </triggeringPolicy>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <param name="immediateFlush" value="true"/>
        <encoder>
            <pattern>%level %date{"HH:mm:ss,SSSXXX"}: %msg%n</pattern>
        </encoder>
    </appender>
    <!---->
    <!---->
    <logger name="SCRAP" level="INFO">
        <appender-ref ref="ALL-SCRAPED" />
        <appender-ref ref="SIFT" />
    </logger>

    <logger name="INFO" level="DEBUG">
        <appender-ref ref="STDOUT" />
    </logger>

    <root name="ROOT" level="INFO">
        <appender-ref ref="LOGFILE" />
    </root>
</configuration>